.container.notification.is-dark
  .subtitle
    center
      | #{__('your-ip-address-is')} #{clientIp}
      br
      |   #{__('you-are-using')} 
      script.
        document.write(platform.name + ' ' + platform.version + '. #{__('check-out-latest-version')} <a href="https://www.google.com/search?q=latest+version+of+' + platform.name + '" target="_blank">#{__('here')}</a>')